@media screen and (max-width: 1200px) {
    #header .header-content {
        width: 90%;
    }
    .nav-toggle {
        display: block;
    }
    .navbar-toggle {
        /* display:block; */
        /* right: 0px; */
        float: right;
        /* position: absolute; */
        margin: 0;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .collapse.navbar-collapse {
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .container.custom-style {
        margin-top: 0px;
    }
    .custom-style.fixed-theme {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .navigation .primary-nav {
        transform: inherit;
	}
	.navbar-header {
		 float: left;
		 width: 20%;
		 }
		 .navbar-default .navbar-nav>li>a{
			font-size: 9px;
			
			padding: 6px 5px;
		 }
    /*.navigation {
		position: fixed;
		background-color: #000;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 99999;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
		transition: opacity 0.5s, visibility 0s 0.5s;
	}
	.navigation .primary-nav {
		position: relative;
		top: 45%;
		-moz-transform: translateY(-45%);
		-ms-transform: translateY(-45%);
		-webkit-transform: translateY(-45%);
		transform: translateY(-45%);
	}
	.navigation li {
		display: block;
		margin-bottom: 20px;
	}
	.navigation a {
		display: block;
		font-size: 17px;
		margin: 0;
		text-align: center;
		font-weight: normal;
	}*/
    .portfolioSection figure .img {
        align-items: normal;
    }
}

@media screen and (max-width: 767px) {
    .opening_day {
        position: absolute;
    }
    .navigation .primary-nav {
        position: relative;
        top: 0;
        -moz-transform: inherit;
        -ms-transform: inherit;
        -webkit-transform: inherit;
        transform: inherit;
    }
    #header {
        position: static;
        top: 0;
        left: 0;
        background-color: #000;
		margin-bottom: 0;
		padding: 10px 15px;
    }
    #header.fixed {
		position: fixed;
		padding: 10px 15px 6px 15px;
	}
	.navbar-container { padding: 0;}
	#header h2 {
		margin: 14px 0;
	}
	.navbar-header {
		float: left;
		width: 100%;
		padding: 7px 0 0 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #f8991d;
		background-color: #ff9900;
		margin-right: -30px;
		}
		.navbar-default .navbar-toggle .icon-bar {
			background-color: #000;
		}
		.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
			background-color: #000;
			border-color: #333;
		}
		.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{
			background-color: #fff;
		}
		.navbar-default .navbar-collapse { border-color: #333; width:100%;}
		.navigation { float: none;}
		.navigation a { padding: 6px 0;
			display: block;
			margin: 0;
			border-bottom: 1px solid #333;
		}
		.navigation li:last-child a { border-bottom: none;}
		.navigation li { display: block; list-style: none;}
		.navbar-collapse.in {
			overflow-y: hidden;
			width: 100%;
		}
		
}

@media screen and (max-width: 640px) {
    .banner-text p {
        padding: 0;
    }
    #header .logo {
        font-size: 19px;
    }
    .nav-toggle {
        top: 21px;
	}
	.banner-text { padding-top: 0;}
    .banner-text p {
        font-size: 12px;
        line-height: normal;
    }
    .banner-text h1 {
        font-size: 20px;
	}
	a.touch_btn { display: none;}
    .about_detail h1 {
        font-size: 32px;
        padding: 32px 0 2px 13px;
        text-align: center;
    }
    .work_list ul li {
        display: block;
        margin: 0 0 34px 0;
        padding: 0 6px;
    }
    .quick_links ul li {
        padding: 0 6px;
    }
    .navigation li {
        width: 100%;
	}
	
}

@media screen and (max-width: 480px) {
    .opening_day {
    top: 55%;
    }
    .contact_title {
        padding: 60px 22px 84px 37px;
	}
	.social_icon ul li a i { width: 30px;
		height: 30px;
		line-height: 30px; font-size: 14px;}
}

@media screen and (max-width: 320px) {}