html {
	box-sizing: border-box;
	height: 100%;
}
body {
	background-color: #fff;
	counter-reset: section;
	font-size: 13px;
	margin: 0;
	min-height: 100%;
	position: relative;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	outline: medium none;
	padding: 0;
}
p + p {
	padding: 10px 0;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: medium none;
	text-decoration: none;
}
.b {
	border: 1px solid red;
}
.clear {
	clear: both;
}
.custom-container {
	max-width: 1200px;
	width: 100%;
}
/* ------------------------------------------------------------------------------
	 Header
-------------------------------------------------------------------------------*/
.navbar-default{
	position: fixed;
	width: 100%;
	z-index: 999;
	border-radius: 0;
	background-color: transparent;
	border: none;
	padding: 40px 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#header .header-content {
	margin: 0 auto;
	max-width: 1200px;
	padding: 33px 0;
	width: 100%;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}
#header h2 {
	float: left;
	margin: 0;
}
#header .logo {
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	display: block;
	font-family: 'Oswald', sans-serif;
}
#header .logo span {
	color: #e84545;
}
.navbar-brand {height: auto;padding: 0;width: 80%;}
.navbar-default.fixed, .bgcolor_innernav.fixed {
	position: fixed;
	background-color: rgba(0, 0, 0, 1);
	padding: 20px 0;
	top: 0;
}
.bgcolor_innernav {background-color: #000;position: static;padding: 15px 0;margin-bottom: 0;}
#header.fixed .header-content {
	border-bottom: 0;
	padding: 25px 0;
}
#header.fixed .nav-toggle {
	top: 18px;
}
  .navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 16px 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
/*.custom-style{
  margin-top: 40px;
}*/

.navigation.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navigation {
	float: right;
	margin-top: 8px;
}
.navigation li {
	display: inline-block;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding: 6px 8px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a.active {
	color: #ff9900;
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color:  #ff9900;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color:  #ff9900;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
/* ------------------------------------------------------------------------------
	 Banner
-------------------------------------------------------------------------------*/

/*.banner {
	background-image: url(../img/banner.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 650px;
}*/
.banner-btn {
	opacity: 0.5;
}
.banner-text {
	padding-top: 25%;
}
.banner-text h1 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 58px;
	font-weight: 800;
	text-transform: uppercase;
}
.banner-text p {
  color: #fff;
font-size: 24px;
line-height: 36px;
margin-top: 19px;
margin-bottom: 10px;
font-weight: 400;
padding: 0 146px 0 147px;
letter-spacing: 1px;
}
.banner-btn {
    opacity: 0.5;
}
.arow img{margin:0 auto;}

a.touch_btn {
    border: 1px solid rgba(255,255,255,.7);
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: #fff;
    padding: 10px 26px;
    border-radius: 40px;
    margin: 23px 0;
    display: inline-block;
    
   
}
a.touch_btn:hover { background-color: #ff9900;color: #000; border-color: #ff9900}
/*a.touch_btn:hover{background-color: #ff9900; border: 1px solid #ff9900;}
a.touch_btn:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 48px;
	background: rgba(255,255,255,.7);
	border-radius: 40px;
	transition: all 1s linear;
} 
a.touch_btn:hover:before {
	width: 100%;
	border: 1px solid  rgba(255,255,255,.7);
}
*/
.banner_arow{margin-top: 10%;}
.banner_arow a {
    border: 1px solid #fff;
    padding: 17px 8px;
    border-radius: 25px;
}
.banner_arow i{color: #fff;
	font-weight: 500;
	font-size: 20px; 
	vertical-align: middle;
}
/*Banner*/
.scrollToTop {
    color: #fff;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #4e4e4e;
    z-index: 1005;
    display: none;
}
.scrollToTop i {
    line-height: 50px;
    font-size: 24px;
}
/*Portfolio*/
.portfolio_section,.service_section,.work_section,.testimonial_section{padding:65px 0;}
.title{text-align: center; margin-bottom:55px;}
.title h1{font-family: 'Raleway', sans-serif;
font-weight: 900;
font-size: 20px;
color: #000;
text-transform: uppercase;}
.title h6{ font-family: 'Raleway', sans-serif;
font-weight: 300;
font-size: 18px;
color: #000;
padding-top: 7px; }
/*Photography*/
.portfolioSection figure { position: relative; 
	border: 1px solid #ccc;
	margin-bottom: 15px;
	height: 216px;
	overflow: hidden;
}
.portfolioSection figure .img { display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	height: 100%;
}
.portfolioSection figcaption {width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color:rgba(255, 153, 0, 0.7);
	color: #fff;
	opacity: 0;
	visibility: hidden;
	 -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;   }
      .portfolioSection figcaption h3{  }
      .portfolioSection figcaption h3 a{color: #fff;
      	font-size: 20px;
      	display: block;
      	letter-spacing: 1px;
      	padding-bottom: 6px;
      	margin-bottom: 6px;
      }
      .portfolioSection figcaption p{  }
      .portfolioSection figcaption a.btn {  border-color:#fff;
      	border-radius: 0;
      	background-color: transparent;
      	margin: 10px 0;
      }
      .portfolioSection figure:hover .img{  }
      .portfolioSection figure:hover figcaption {  left: 0;
       opacity: 1;
       visibility: visible;
   }
      .portfolioSection figure figcaption .overlay {  
        width: 100%;
        padding: 15px 0;
    }
    .desription_project{}
    .desription_project a{color: #fff;
    	border: 1px solid #fff; 
    	padding:10px 19px;
    	font-family: 'Raleway', sans-serif;
    	font-weight: bold;
    	font-size: 12.29px;
		margin-top: 41px;
		display: inline-block;
    }
    .desription_project p {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 12.29px;
    line-height: 17px;
    padding: 25px 34px;
}
/*caraousel*/

/*caraousel*/

.owl-carousel .owl-nav {
	position: absolute;
	right: 3px;
	top: -47px;
}
.owl-carousel .owl-nav > div {
	border: 1px solid #6f6f6f;
	color: #fff;
	display: inline-block;
	height: 26px;
	margin-left: 1px;
	text-align: center;
	top: 0;
	width: 26px;
	position: static;
	background-color: #6f6f6f;
	line-height: 26px;
	vertical-align: middle;
}
.owl-carousel .owl-nav .owl-prev {
	background-color: #ff9900;
	border-color: #ff9900;
}
.owl-carousel .owl-nav > div > i {
	display: block;
	line-height: 25px;
	font-size: 17px;
}
.owl-carousel .owl-nav .disabled {
	border-color: #ddd;
	color: #ddd;
	cursor: no-drop;
}
/*About*/
.about_section {
	background-image: url(../img/about.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 645px;
}
.backbg_about{
	background-color:rgba(255, 153, 0,.7);
}
.backbg{background-color:#ff9900;}
.padding0{padding:0;}
.about_detail{}
.about_detail h1{color:#fff;
		font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    padding: 128px 0 2px 48px;}
.about_detail p{color:#fff;
	font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 32px;
    padding: 25px 42px 157px 51px;}
    /*Services Start*/
    .service_main{}
    .service_icon{display: table-cell; padding: 12px 0 0 0;}
    .service_icon i {
    background-color: #ff9900;
    font-size: 24.99px;
    color: #fff;
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    display: block;
    padding: 8px;
}
.service_icon i img { width: 100%;}
   .service_description {
    display: table-cell;
    padding: 12px 0px 0px 26px;
    vertical-align: middle;
}
    .service_description h1{color: #000;font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 16.99px;
	padding-bottom: 7px;}
    .service_description h1 a{}
    .service_description p{line-height: 24px;font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 13.99px;
margin-bottom: 30px;}
    /*Services End*/
    /*work start*/
.work_section{background-color:#f7f7f7;}
.work_list{}
.work_list ul{}
.work_list ul li{list-style: none;
 display: inline-block;
  padding: 0 57px 0 0px;
  text-align: center;
}
.work_detail{}
.work_icon {
    padding-bottom: 16px;
}
.work_icon i{ color:#ff9900; font-size: 27px; }
.work_name{}
.work_name h6{font-family: 'Raleway', sans-serif;
    font-size: 16px;
font-weight:600;
color: #000;
line-height: 23px;}
/*Start Contact*/
/*End contact*/
.contact_title {
    padding:60px 22px 84px 74px;
}
.contact_title h1{font-family: 'Raleway', sans-serif;
    font-size: 19.99px;
font-weight:900; color: #fff;}
.contact_title h6{font-family: 'Raleway', sans-serif;
    font-size: 20px;
font-weight:600;color: #fff;
padding:12px 0;}
.contact_title ul{}
.contact_title ul li{list-style: none;padding: 9px 0;}
.contact_title ul li i{color: #fff; font-size: 15px;margin-right: 13px;}
.bold{font-weight: bold; color: #fff; 
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}
.reg{font-weight: 400; color: #fff; 
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}
.opening_day {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 999;
    text-align: center;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-left: -80px;
    margin-top: -80px;
    padding: 47px 0;
}
.opening_day h6{font-weight: 900; color: #000; 
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
padding-bottom: 12px;}
.opening_day p{font-weight: 600; color: #000; 
	font-size: 15px;
	font-family: 'Raleway', sans-serif;}
	/*teszti*/
	.testi_bg {
    background-color: #f7f7f7;
    padding: 36px 0;
}
	.testi_image {
    width: 95px;
    height: 95px;
    display: block;
    margin: 0 auto;
}
	.testi_image img{}
	.testi_name{}
	.testi_name h1{font-family:'Raleway', sans-serif;
	font-weight: 900;
	font-size: 18px;
	padding: 29px 0  9px 0;
}
	.testi_name p{font-family:'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;}
	p.testi_feedback {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 0 22px;
}
hr.sep {
    margin-top: 19px;
    margin-bottom: 23px;
    border: 0;
        border-top-width: 0px;
        border-top-style: none;
        border-top-color: currentcolor;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 1px solid #626262;
    width: 89px;
}
	/*testiend*/
	/*footer*/
	footer{background-color: #000;}
	.footer_main{text-align: center; padding: 30px 0;}
	.social_icon{padding: 30px 0;}
	.social_icon ul{}
	.social_icon ul li{list-style: none; display: inline-block;}
	.social_icon ul li a {
    margin: 0 3px 0 0;
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
	.social_icon ul li a i {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ff9900;
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
}

	.social_icon ul li a:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
	.quick_links{}
	.quick_links ul{}
	.quick_links ul li{display: inline-block;
		list-style: none;
		margin: 11px 0;
		padding: 0 15px;
	}
	.quick_links ul li a{text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		font-family: 'Raleway', sans-serif;
	}
	.quick_links p {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    letter-spacing: 1px;
}}
	/*Footer end*/

	.carousel-control span {
	display: block;
	left: 100px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	border-radius: 50%;
}
.right.carousel-control span {
	left: auto;
	right: 100px;
}
.carousel-control span::before {
	background-color: #16e;
	content: "\f104";
	display: block;
	font-family: "FontAwesome";
	font-size: 35px;
	height: 61px;ba
	line-height: 61px;
	text-align: center;
	width: 61px;
	border-radius: 50%;
	color: #fff;
	font-weight: bold;
}
.right.carousel-control span::before {
	content: "\f105";
}
.carousel-caption{right: 0;left: 0;top: 0;max-width: 900px;margin: 0 auto;}
/*feedback*/
h3.contact-info {
	margin: 20px 0;
}
h3.contact-info {
	font-family: 'Oswald', sans-serif;
	color: #000;
	margin-bottom: 15px;
}
.red-text {
    color: #222;
    font-weight: bold;
}
.contact-info ul {
}
.inner-page p {
    line-height: 28px;
}
.lead {
    font-size: 17px;
    font-weight: 300;
}
.contact-info ul li {
	list-style: none;
	position: relative;
	padding-left: 50px;
	min-height: 50px;
	font-size: 18px;
	margin-bottom: 9px;
}
.contact-info ul li i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #650104;
	text-align: center;
	color: #650104;
	font-size: 20px;
	position: absolute;
	top: -2px;
	left: 0;
}
.contact-info ul li a {
}
.contact-form {
	margin-top: 20px;
}
.contact-form .form-control {
	border-radius: 0;
	letter-spacing: 1px;
}
.contact-form .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
}
.contact-form .btn-outline {
	background-color: #ff9900;
	color: #ffffff;
	font-weight: normal;
	letter-spacing: 1px;
	border: none;
	cursor: pointer;
}
/*NEWS*/
.news,.margin25{margin-bottom:25px;}
.news_img {
    border: 2px solid #f3eaea; 
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    /*box-shadow: -1px -2px 15px 0px #d7d7d7;*/
}
.news_detail {
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 23px;
}
.news_detail h5 a{
    font-size: 15px;
    color: #222;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    padding: 0 0 8px 0;
    display: block;
}
.news_detail span{color:#666;
font-family: "Oswald", sans-serif;
display: block;
}
.news_detail span i{margin-right:5px;}
.news_detail p{
	color:#767676;
	font-size:13px;
	padding: 4px 0;}
.page-top {
    padding: 25px 15px 15px 15px;
    border-bottom: 1px solid #ececec;
    background-color: #f7f7f7;
    z-index: 9;
    margin-bottom: 20px;
}
.page-top h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #28251E;
    font-size: 18px;
    /*padding-left: 89px;*/
}
.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}
.breadcrumb-item {
    font-size: 13px;
}
.breadcrumb-item a {
    color: #28251E;
}
ul.list li {
    list-style: none;
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding-left: 20px;
}
ul.list li::before {
    content: "\f0b2";
    font-family: FontAwesome;
    font-size: 6px;
    position: absolute;
    top: 5px;
    left: 0;
}
/*blog*/
.blogpost {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.blogpost .blog-img {
	max-height: 200px;
	overflow: hidden;
}
.blog-img img { width: 100% !important;}
.blogpost .blogpost-body {
	position: relative;
	padding: 15px 10px 10px 10px;
	border: 1px solid #ccc;
	border-top: none;/* background-color: #f1f1f1; */
}
.blogpost-body .post-info {/* position: absolute; *//* top: 0; *//* left: 0; *//* width: 60px; */
	text-align: center;/* background-color: #1c3583; */
	color: #c1c1c1;
	line-height: 32px;
	display: inline-block;
	margin-right: 10px;
}
.blogpost-body .post-info span {
	display: block;
}
.blogpost-body .post-info span i {
	padding-right: 7px;
}
.blogpost-body .post-info .day {
	font-size: 30px;
	font-weight: bold;
}
.blogpost-body .post-info .month {
	line-height: 16px;
	padding: 3px 3px 6px 3px;
}
.blogpost-content {
}
.blog-title {
	border-bottom: 1px solid #ccc;
	margin-bottom: 13px;
	font-size: 12px;
}
.blog-title h2 {
	font-size: 16px;
	margin-bottom: 0;
	font-weight: 600;
	text-align: left;
}
.blog-title h2 a {
	color: #0b142f;
	text-decoration: none;
	display: block;
}
.blog-title .submitted {
	margin-top: 5px;
	color: #b1b1b1;
	display: inline-block;
	font-style: italic;
}
.blog-title .submitted i {
	padding-right: 0 !important;
}
.blog-title .submitted a {
	color: #b1b1b1;
	text-decoration: none;
}
.blog-title .comment {
	display: inline-block;
	text-align: right;
	padding-left: 11px;
	margin-left: 10px;
	border-left: 1px solid #ccc;
}
.blog-title .comment i {
	color: #fbba05;
}
.blog-title .comment a {
	color: #fbba05;
	font-weight: bold;
	text-decoration: none;
}

.blogpost-content p {
	max-height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.blog-footer {
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding-top: 9px;
}
.blog-footer i {
	color: #fbba05;
}
.blog-footer ul li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.blog-footer a {
	margin-bottom: 0;
	font-size: 12px;
	color: #767676;
	text-decoration: none;
}
.blog-detail {
	cursor: auto;
}
.blog-detail .blog-img {
	max-height: 420px;
}
.blog-detail:hover .blog-img img {
	transform: inherit;
}
.blog-detail .blog-img img {
	width: 100% !important;
}
.blog-detail h2 {
	color: #0b142f;
	display: block;
}
.blog-detail .blogpost-body {
	border: none;
	padding: 15px 0;
}
.blog-detail .blogpost-content p {
	text-overflow: inherit;
	max-height: inherit;
	display: block;
	-webkit-line-clamp: inherit;
	-webkit-box-orient: inherit;
}
.blogpost:hover .blog-img img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.transition,.blog-img img {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
/*carrer*/
.section-title-wr-top h3.section-title.left {
	color: #013782;
	font-size: 22px;
	font-weight: 900;
	 font-family: 'Raleway', sans-serif;
}
.raleway{ font-family: 'Raleway', sans-serif; font-weight: 500;}
.section-title-wr-top h3.section-title.left span {
	color: #000;
	font-weight: 300;
	display: block;
}
.section-title {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	position: relative
}
.section-title.left {
	display: block;
	color: #333;
	font-size: 18px;
	margin-bottom: 10px;
}
.main-container p {
	line-height: 27px;
}
.main-container p + p {
	margin: 10px 0;
}
ul.list_carer li {
	list-style: none;
	display: block;
	position: relative;
	margin: 10px 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
ul.list_carer li:before {
	content: "\f105";
	font-family: FontAwesome;
	padding-right: 10px;
}
/*blog_detail*/
.news-list:last-child {
    border-bottom: none;
}
.news-detail {
    border-bottom: none;
}
.news-list {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.news-detail .no-padding {
    padding: 0;
}
.news-list .news-content .blog_title {margin-bottom: 8px;}
.news-list .news-content .title_blog {
    margin-bottom: 5px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.news-list .news-content .title_blog a {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.news-list .news-content small {
    color: #a29f9f;
    font-style: italic;
}
.news-detail .image-wrapper {
    width: 100%;
    height: 450px;
    background-color: #ccc;
    margin: 15px 0;
    overflow: hidden;
}
p.list_carer{font-family: 'Raleway', sans-serif;
	font-size: 14px;}
	.read_more{}
	.read_more a {
    color: #767676;
    font-weight: 600;
}
	/*team*/
	.wp-block {
    margin: 0 0 15px 0;
    /*-webkit-transition: all .3s linear;*/
    
    position: relative;
    cursor: default;
    border-radius: 2px;
    border: 1px solid #E1DDDD;
}
.wp-block.inverse .figure {
    position: relative;
}
.wp-block.inverse .figure {
    max-height: 222px;
    overflow: hidden;

}
.wp-block.inverse .figure img {
    width: 100%;
    transition: all 1s ease;
}
.wp-block.inverse .figure img:hover{transform: scale(1.2);}
.wp-block.inverse h2, .wp-block.inverse .title {
    margin: 0;
    padding: 12px 0 11px 7px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    text-transform: none;
}
.wp-block.inverse small {
    display: block;
    font-size: 12px;
    margin-top: 7px;
}
#contact { position: relative;}